.video{
    position: relative;
    
    ul{
        
        li{
            
            &#point1{
                position: absolute;
                top: 180px;
                left: 300px;
            }
            &#point2{
                position: absolute;
                top: 380px;
                left: 100px;
            }
            &#point3{
                position: absolute;
                top: 350px;
                left: 500px;
            }
            &#point4{
                position: absolute;
                top: 270px;
                left: 930px;
            }
            &#point5{
                position: absolute;
                top: 550px;
                left: 800px;
            }
        }
    }

    #myVideo {
        display: block;
        position: relative;
        width: 100%;
        min-width: 100%; 
        min-height: 100%;
    }
    
}



